@font-face {
    font-family: pixelFont;
    src: url(../ArcadeClassic.ttf);
}

body, html
{
    height:100%;
    font-family: pixelFont;
}
body
{
    margin:0;
    padding:0;
    background:url(../images/fondo1.png) no-repeat center top;
    background-size:cover;
    
    display:flex;
    overflow:hidden;
}

.preloader
{
    display:none;
}

.loader{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../images/loading.gif) no-repeat center top rgb(249,249,249);
    background-size: 100% 100%;
}

.stats
{
    position:absolute;
    bottom:6%;
    left:8%;

    height:60px;
    width:100%;

    display:flex;
    flex-direction: row;
    align-items: center;
}

.p
{
    font-family: pixelFont;
    font-size:48px;
    font-weight: bold;
    color:#fa56c9;
    -webkit-text-stroke: 1px black;
    text-shadow:3px 3px  black;
}

.p input
{
    font-weight: bold;
    width:40%;

    font-family: pixelFont;
    background: none;
    border:none;
    font-size: 48px;
    color:#fa56c9;

    text-shadow:3px 3px black;
}


#Princess
{
    display: flex;
    position:absolute;
    left:12%;
    top:28%;
}

#defaultP
{
    height:160px;
    width:160px;

    background:url(../images/characters/princessDefault.png);
    background-size:cover;
    background-position: 0 0;
}
#toChooseP
{
    display:none;
    height:160px;
    width:160px;

    background:url(../images/characters/toChoose.png);
    background-size:cover;
    background-position: 0 0;
}
#boxes
{
    display:flex;
    position:absolute;

    left: 9%;
    top: 20%;
}
#box1, #box2, #box3, #box4
{
    display:flex;
    position: absolute;
    height:320px;
    width:240px;

}
#box4
{
    background:url(../images/boxes/attackBox.png);
    background-size:cover;
    background-position: 0 0;
}
#box1
{
    background:url(../images/boxes/invBox.png);
    background-size:cover;
    background-position: -1200px 0;
}
#box2
{
    background:url(../images/boxes/fleeBox.png);
    background-size:cover;
    background-position: -2400px 0;
}
#box3
{
    background:url(../images/boxes/specialBox.png);
    background-size:cover;
    background-position: -3600px 0;
}


#test
{
    position:absolute;
    left:12%;
    top:30%;

    display:none;
    height:240px;
    width:240px;

    background:url(../images/test.png);
    background-size:cover;
    background-position: 0 0;
}

#Entidad1,#Entidad2,#Entidad3,#Entidad4,#Entidad5
{
    display: none;
}

#Entidad1,#Entidad2,#Entidad3
{
    position:absolute;
    right:12%;
}
#Entidad4,#Entidad5,#Entidad6
{
    position:absolute;
    right:24%;
}
#Entidad7,#Entidad8,#Entidad9
{
    position:absolute;
    right:36%;
}

#default1,#default2,#default3,#default4,#default5,#default6,#default7,#default8,#default9
{
    height:80px;
    width:80px;

    background-size:cover;
    background-position: 0 0;
}

#attack1,#attack2,#attack3,#attack4,#attack5,#attack6,#attack7,#attack8,#attack9,#hurt1,#hurt2,#hurt3,#hurt4,#hurt5,#hurt6,#hurt7,#hurt8,#hurt9,#walk1,#walk2,#walk3,#walk4,#walk5,#walk6,#walk7,#walk8,#walk9,#walkback1
{
    display:none;
    height:80px;
    width:80px;

    background-size:cover;
    background-position: 0 0;
}